extends layout 

block content
    div(class="container-fluid pt-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")
            h1 Admin Dashboard

            //- em Welcome, Mr. #{user_info.first_name}
            br
            a(href="/logout") Log Out
            
            if(message)
                div(class="alert alert-danger") #{message}
            br


        div(class="container d-flex flex-column align-items-center justify-content-center")
            a(type="button" class="btn btn-lg btn-primary col-6" href="admin/register") View New Registrations 
            br

            a(type="button" class="btn btn-lg btn-primary col-6" href="admin/allwards") View and Manage Wards 
            br

            a(type="button" class="btn btn-lg btn-primary col-6" href="admin/issue") Report Messages
            br