extends layout 

block content
    div(class="container-fluid py-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")
            h3 New Registrations in your Hospital
            br
            
            if(messages.length==0)
                div(class="alert alert-danger") 
                    p No New Registrations at the moment 

            else

                ul
                    div(class="row")
                        for item in messages
                            br
                            div(class="col-6 card py-4")
                                em='A ' + item.type+ ' named ' + item.first_name + ' ' + item.last_name + ' Registered'
                                &emsp;                            
                                form(method="POST", action="/admin/register")
                                    input(type="hidden", name="reqID", value=item.req_id)
                                    button(type="submit" class="btn btn-info") Accept
                                &emsp; 
                                form(method="POST", action="/admin/reject")
                                    input(type="hidden", name="reqID", value=item.req_id)
                                    button(type="submit" class="btn btn-info") Reject                           
                                 
