extends ../layout 

block content

    div(class="container-fluid py-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")
            p
                i(class="fas fa-arrow-left" style="color:#1E90FF")
                a(href='/home') &nbsp; Back to Dashboard
            br
            h1 Create New Ward
            
            if(message)
                div(class="alert alert-danger") #{message}
            br

            div(class="card rounded shadow-lg col-6")
                div(class="card-body text-center")
                        form(method="POST", action="/consultant/create")
                            //p Ward Name (Must be Unique)
                                input(type="text", name="wardname")
                                br

                            //p Start Month 
                                input(type="month", name="startmonth")
                                br
                            
                            //button(type="submit" class="btn btn-info mx-3 my-3") Go

                            div(class="form-group form-row")
                                label(for="wardname" class="col-md-6 col-form-label") Ward Name 
                                    small(class="form-text text-muted") You will not be able to use ward names which are already taken
                                input(type="text", name="wardname", class="col-md-6 form-control")
                                br

                            div(class="form-group form-row")
                                label(for="startmonth" class="col-md-6 col-form-label") Start Month 
                                    small(class="form-text text-muted") Which month do you want the roster scheduling to start?
                                input(type="month" name="startmonth", class="col-md-6 form-control")
                                br

                            button(type="submit" class="btn btn-info mx-3 my-3") Submit 



