extends ../layout 

block content

    nav(class="navbar fixed-top navbar-expand-lg navbar-light bg-light")
                a(class="navbar-brand" href="/home") Roster Scheduler
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
        
                div(class="collapse navbar-collapse" id="navbarSupportedContent")

                    ul(class="navbar-nav mr-auto")
                        
                        li(class="nav-item active")
                            a(class="nav-link" href="#") Create

                        li(class="nav-item")
                            a(class="nav-link" href="/consultant/wards") Wards 
                                span(class="sr-only")(current)

                        li(class="nav-item")
                            a(class="nav-link" href="/consultant/reports") Reports

                        li(class="nav-item")
                            a(class="nav-link" href="/consultant/leaves") Leave Apps

                    span(class="navbar-text ml-auto") 
                    ul(class="navbar-nav")
                        li(class="nav-item active")
                            
                            a(class="nav-link" href="/logout") Log Out
                                span(class="sr-only") (current)

    br
    br
    br
    br

    div(class="d-flex flex-column text-center align-items-center justify-content-center")
        h4(class="display-4") Create New Ward 

        br
        br

        if(message)
                div(class="alert alert-danger") #{message}
        br

        div(class="card rounded shadow-lg col-6")
            div(class="card-body text-center")
                    form(method="POST", action="/consultant/create")

                        div(class="form-group form-row")
                            label(for="wardname" class="col-md-6 col-form-label") Ward Name 
                                small(class="form-text text-muted") You will not be able to use ward names which are already taken
                            input(type="text", name="wardname", class="col-md-6 form-control")
                            br

                        div(class="form-group form-row")
                            label(for="startmonth" class="col-md-6 col-form-label") Start Month 
                                small(class="form-text text-muted") Which month do you want the roster scheduling to start?
                            input(type="month" name="startmonth", class="col-md-6 form-control")
                            br

                        button(type="submit" class="btn btn-info mx-3 my-3") Submit

    br
    br



//
    div(class="container-fluid py-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")
            p
                i(class="fas fa-arrow-left" style="color:#1E90FF")
                a(href='/home') &nbsp; Back to Dashboard
            br
            h1 Create New Ward
            
            if(message)
                div(class="alert alert-danger") #{message}
            br

            div(class="card rounded shadow-lg col-6")
                div(class="card-body text-center")
                        form(method="POST", action="/consultant/create")

                            div(class="form-group form-row")
                                label(for="wardname" class="col-md-6 col-form-label") Ward Name 
                                    small(class="form-text text-muted") You will not be able to use ward names which are already taken
                                input(type="text", name="wardname", class="col-md-6 form-control")
                                br

                            div(class="form-group form-row")
                                label(for="startmonth" class="col-md-6 col-form-label") Start Month 
                                    small(class="form-text text-muted") Which month do you want the roster scheduling to start?
                                input(type="month" name="startmonth", class="col-md-6 form-control")
                                br

                            button(type="submit" class="btn btn-info mx-3 my-3") Submit 



