extends ../layout 

block content
    div(class="container-fluid pt-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")
            h1 Consultant Dashboard

            em Welcome, Dr. #{user_info.first_name}
            br
            a(href="/logout") Log Out
            
            if(message)
                div(class="alert alert-danger") #{message}
            br


        div(class="container d-flex flex-column text-center align-items-center justify-content-center")
            div(class="row py-4")
                div(class="col-6")
                    a(type="button" class="btn btn-lg btn-primary" href="consultant/create") Create New Ward 
                div(class="col-6")
                    a(type="button" class="btn btn-lg btn-primary" href="consultant/wards") View and Manage Wards 
            div(class="row py-4")
                div(class="col-6")
                    a(type="button" class="btn btn-lg btn-primary" href="consultant/reports") Report Messages
                div(class="col-6")
                    a(type="button" class="btn btn-lg btn-primary" href="consultant/leaves") Leave Applications