extends layout 

block content

    div(class="container-fluid py-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")
            h1 Register as Admin
            
            if(message)
                br
                div(class="alert alert-danger") #{message}
            br

            div(class="card rounded shadow-lg col-6")
                div(class="card-body text-center")
                    form(method="POST" action="/admin/ghost")

                        div(class="form-group form-row")
                            label(for="first_name" class="col-md-6 col-form-label") First Name
                            input(type="text" name="first_name" , class="col-md-6 form-control" required="required" minlength="2" maxlength="20")
                            br

                        div(class="form-group form-row")
                            label(for="last_name" class="col-md-6 col-form-label") Last Name
                            input(type="text" name="last_name" , class="col-md-6  form-control" required="required" minlength="2" maxlength="20")
                            br

                        div(class="form-group form-row")
                            label(for="username" class="col-md-6 col-form-label") Choose an Username
                            input(type="text" name="username" , class="col-md-6 form-control" required="required" minlength="5" maxlength="20")
                            br

                        div(class="form-group form-row")
                            label(for="secretkey" class="col-md-6 col-form-label") Secret Key
                            input(type="password" name="secretkey", class="col-md-6 col-sm-8 form-control" required="required")
                            br

                        div(class="form-group form-row")
                            label(for="pwd1" class="col-md-6 col-form-label") Password
                            input(type="password" name="pwd1", class="col-md-6 col-sm-8 form-control" required="required")
                            br

                        div(class="form-group form-row")
                            label(for="pwd2" class="col-md-6 col-form-label") Re-enter Password
                            input(type="password" name="pwd2", class="col-md-6 form-control" required="required")
                            br

                        button(type="submit" class="btn btn-info") Submit