extends layout

block content

  div(class="container-fluid py-4")
    div(class="jumbotron text-center")
      h1 Welcome to Roster Scheduler v1
      em A smart scheduling utility designed for hospital wards

      if(message)
        br
        div(class="alert alert-success") #{message}

    div(class="container")
      div(class="row")
        div(class="col-6")
          div(class="card rounded shadow-lg")
            div(class="card-body text-center")

              h5(class="card-title") For Consultants
              p(class="card-text") Create wards, add doctors and let the system take care of generating the roster. Approve leave applications without fear - the roster gets adjusted automatically.

        div(class="col-6")
          div(class="card rounded shadow-lg")
            div(class="card-body text-center")
              h5(class="card-title") For Doctors 
              p(class="card-text") View the monthly roster of your ward. Want specific days off next month? Tell the system and see the free time in next month's roster. Need sudden leave? We can work with that too. 

    br
    br		
    div(class="jumbotron d-flex justify-content-center")
      a(class="btn btn-primary mx-3 my-3" href="/signup" role="button") Want to get started? Sign Up	
      a(class="btn btn-primary mx-3 my-3" href="/login" role="button") Already an user? Log In
