extends layout 

block content
    div(class="container-fluid py-4")
        div(class="jumbotron d-flex flex-column text-center align-items-center justify-content-center")

            p
                i(class="fas fa-arrow-left" style="color:#1E90FF")
                a(href='/home') &nbsp; Back to Dashboard

            h1 Ward Roster 
            em The schedule we generate automatically for your ward
            br

            if(roster.length==0)
                div(class="alert alert-danger")
                    p This ward's roster has not yet been set